<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/feed.css">

    <title>Instadev</title>
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="brand" class="navbar-brand" href="/">instadev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center ml-auto">
                <form class="form-inline">
                    <input id="search-field" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                    <!--
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    -->
                </form>
            </div>
            
            <div id="navbar-buttons" class="btn-group d-flex justify-content-center ml-auto" role="group" aria-label="Basic example">
                <form action="/posts" method="POST" style="display: none;" id="post-form" enctype="text/plain">
                    <input type="file" id="post-input" onchange="post(event)" />
                    <input type="hidden" name="image" />
                    <input type="hidden" name="username" value="<%= username %>" />
                </form>
                
                <button
                    type="button"
                    class="btn btn-sm btn-outline-light"
                >
                    <a href="/editor.html">Instadev Editor</a>
                </button>

                <button
                    type="button"
                    class="btn btn-sm btn-outline-light"
                    onclick="document.querySelector('#post-input').click()"
                >
                    <img src="/img/icons/newpost.png">
                </button>

                <button
                    type="button"
                    class="btn btn-sm btn-outline-light"
                    onclick="window.location = '/'"
                >
                    <img src="/img/icons/profile.png">
                </button>
            </div>
        </div>
    </nav>

    <div id="feed" class="container">
        <% for (post in posts) { %>
            <div id="post">
                <div class="row justify-content-center">
                    <div class="col-7">
                        <div class="card border-secondary">
                            <img
                                class="card-img-top img-thumbnail img-fluid"
                                alt="user-post"
                                src="<%= posts[post].post %>"
                            >
  
                            <% if (username == profile) { %>
                                <!--Botao para deletar -->
                                <div class="row justify-content-center">
                                    <button
                                        id="delb"
                                        onclick="window.location='/posts/delete/<%= posts[post].id %>'"
                                        class="btn btn-danger"
                                    >
                                        <a>Delete</a>
                                    </button>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                </br>
            </div>
        <% } %>
    </div>
    

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>

    <script src="/js/feed.js"></script>

    <script>
        function post(ev) {
            let reader = new FileReader();
            reader.readAsDataURL(ev.target.files[0]);
            reader.onloadend = (buffer) => {
                let form = ev.target.parentElement;
                let inputs = form.querySelectorAll('#post-form input');
                inputs[1].value = buffer.target.result;
                form.submit();
            }
        }
    </script>
</body>
</html>
