#navbar {
    padding: .5% 5% .5% 5%;
}

#brand {
    font-family: "Fira Code";
    font-size: 22px;
}

#search-field {
    text-align: center;
}

#navbar-buttons {
    margin-left: 0%;
}

#search-results {
    margin: 20px auto;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
}

.search-result-entry {
    border: solid gray 1px;
    padding: 10px;
    margin: 20px;
}
