#navbar {
    padding: .5% 5% .5% 5%;
}

#brand {
    font-family: "Fira Code";
    font-size: 22px;
}

#search-field {
    text-align: center;
}

#navbar-buttons {
    margin-left: 0%;
}

#img,  #img-card-body {
	border: 4px solid #ededed;
	font-family: "Fira Code";
}

#img-card-base, #likeb {
	border: solid #ededed;
}

#likeb-conte {
	font-family: "Fira Code";
}


/*#clear, #insert {
	background-color: white;
}

#insert:hover {
	background-color: green;
}

#clear:hover {
	background-color: gray;
}

.modal-title, .modal-body {
    color: black;
}*/